.login-button {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  cursor: pointer
}

.nav-logo {
  display: flex;
  justify-content: center;
  cursor: pointer
}

.nav-menu {
  display: flex;
  list-style-type: none;
}

.nav-menu li {
  padding: 10px
}

.nav-menu-area {
  display: flex;
  justify-content: center;
}

.nav-search {
  display: flex;
  justify-content: flex-end;
  height: 100%;
}

.nav-search-input {
  border: none;
  border-bottom: 1px solid black;
}

.nav-search {
  padding-top: 30px;
}

.box {
  background-color: blue;

}

.box:hover {
  background-color: yellow;
  color: black;
}

.product-image {
  display: flex;
  justify-content: flex-end;
}

.product-title {
  font-size: 30px;
}

.product-price {
  font-size: 25px;
}

.product-size {
  padding-top: 20px;
}

.product-add {
  padding-top: 20px;
  width: 200px
}

